*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
@font-face{
    font-family: 'Montebello';
    src: url(Montebello-Regular.ttf)format("truetype"), url(Montebello-Light.otf)format("opentype");
    font-weight: normal;
    font-style: normal;
}